.wrapper-module-login {
  background: asset-url("mitsubishi-asx.jpg") no-repeat top right;
  width: 100%;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-top: 80px; }
  .wrapper-module-login:before {
    content: '';
    position: absolute;
    background: #000000;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; }
  .wrapper-module-login .main-module-login-content {
    max-width: 100%;
    position: absolute;
    width: 700px;
    left: 50%;
    top: 50%;
    height: 450px;
    transform: translateX(-50%) translateY(-50%); }
    .wrapper-module-login .main-module-login-content .main-module-login-left {
      background: asset-url("mitsubishi-asx.jpg") no-repeat top right -35px;
      width: 350px;
      height: 450px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 0 4px 4px -4px #000; }
    .wrapper-module-login .main-module-login-content .main-module-login-right {
      background: #ffffff;
      width: 350px;
      height: 450px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 0 35px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .images-mitsubishi-login {
        background: asset-url("image-mitsubishi-login.png") no-repeat;
        height: 30px;
        margin: 40px 0 70px 0; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .images-reset-email-login {
        background: asset-url("image-mitsubishi-login.png") no-repeat;
        height: 30px;
        margin: 40px 0 150px 0; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .address ::-webkit-input-placeholder,
      .wrapper-module-login .main-module-login-content .main-module-login-right .lock ::-webkit-input-placeholder,
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email ::-webkit-input-placeholder {
        color: #333; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .address :-moz-placeholder,
      .wrapper-module-login .main-module-login-content .main-module-login-right .lock :-moz-placeholder,
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email :-moz-placeholder {
        color: #333; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .address ::-moz-placeholder,
      .wrapper-module-login .main-module-login-content .main-module-login-right .lock ::-moz-placeholder,
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email ::-moz-placeholder {
        color: #333; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .address :-ms-input-placeholder,
      .wrapper-module-login .main-module-login-content .main-module-login-right .lock :-ms-input-placeholder,
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email :-ms-input-placeholder {
        color: #333; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .address input,
      .wrapper-module-login .main-module-login-content .main-module-login-right .lock input,
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email input {
        border-bottom: 1px solid #63c7df;
        padding-left: 30px;
        box-sizing: border-box; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .lock-login input {
        margin: 0 0 15px 0; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .accepts-checkbox-login a {
        color: #333333;
        font-size: 14px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email ::-webkit-input-placeholder {
        font-size: 12px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email :-moz-placeholder {
        font-size: 12px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email ::-moz-placeholder {
        font-size: 12px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email :-ms-input-placeholder {
        font-size: 12px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .address .address-icon {
        position: absolute;
        background: asset-url("icon-address-login.png") no-repeat;
        width: 25px;
        height: 20px;
        top: 15px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .lock .lock-icon {
        position: absolute;
        background: asset-url("icon-lock-login.png") no-repeat;
        width: 20px;
        height: 25px;
        top: 10px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email .reset-email-icon {
        position: absolute;
        background: asset-url("icon-address-login.png") no-repeat;
        width: 25px;
        height: 25px;
        top: 15px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .forgot-password {
        font-size: 14px;
        text-align: center;
        text-decoration: underline;
        color: #333333;
        padding-top: 20px; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .button-module-login {
        width: 100%;
        height: 50px;
        margin-top: 30px;
        font-size: 19px;
        background: #63c7df; }
      .wrapper-module-login .main-module-login-content .main-module-login-right .reset-email {
        font-size: 16px; }
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}