<section class="l-band ">
   <div class="ui-hero ui-hero--carousel ui-hero--fluid ">
      <div class="ui-hero__wrapper">
         <div class="owl-carousel owl-theme owl-loaded owl-text-select-on">
            <div class="owl-stage-outer">
               <div class="owl-stage" style="transform: translate3d(-2484px, 0px, 0px); transition: 0s; width: 7452px;">
                  <div class="owl-item cloned" style="width: 828px; margin-right: 0px;">
                     <div class="ui-hero__slide">
                        <a href="http://www.floretflowers.com/workshop-archive/">
                           <div class="row">
                              <div class="column">
                                 <div class="ui-hero__slide__content">
                                    <div class="pre-preheader">Floret Flower Farm</div>
                                    <div class="preheader">On Farm Learning</div>
                                    <h2 class="h1 keyline-single--short--after">Workshops</h2>
                                    <div class="subhead">Flower lovers from around the world attend our workshops</div>
                                    <button class="button button--secondary">Browse our workshops</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="ui-hero__slide__image active" data-interchange="[https://www.floretflowers.com/wp-content/uploads/2016/09/Floret-Workshop-66.jpg, small], [https://www.floretflowers.com/wp-content/uploads/2016/09/Floret-Workshop-66.jpg, xlarge], [https://www.floretflowers.com/wp-content/uploads/2016/09/Floret-Workshop-66.jpg, xxlarge]" style="background-image: url(&quot;https://www.floretflowers.com/wp-content/uploads/2016/09/Floret-Workshop-66.jpg&quot;);"></div>
                     </div>
                  </div>
                  <div class="owl-item cloned" style="width: 828px; margin-right: 0px;">
                     <div class="ui-hero__slide">
                        <a href="/blog/">
                           <div class="row">
                              <div class="column">
                                 <div class="ui-hero__slide__content">
                                    <div class="pre-preheader">Floret Flower Farm</div>
                                    <div class="preheader">Flower Farm Journal</div>
                                    <h2 class="h1 keyline-single--short--after">Farm Adventures</h2>
                                    <div class="subhead">Go behind the scenes on a working flower farm</div>
                                    <button class="button button--secondary">Read the Blog</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="ui-hero__slide__image active" data-interchange="[https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_6250-1024x682.jpg, small], [https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_6250-1440x960.jpg, xlarge], [https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_6250-2000x1333.jpg, xxlarge]" style="background-image: url(&quot;https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_6250-1440x960.jpg&quot;);"></div>
                     </div>
                  </div>
                  <div class="owl-item" style="width: 828px; margin-right: 0px;">
                     <div class="ui-hero__slide">
                        <a href="/about-us/our-story/">
                           <div class="row">
                              <div class="column">
                                 <div class="ui-hero__slide__content">
                                    <div class="pre-preheader">Floret Flower Farm</div>
                                    <div class="preheader">Est.2008</div>
                                    <h2 class="h1 keyline-single--short--after">Cultivating Beauty</h2>
                                    <div class="subhead">We are a small family farm in Washington's Skagit Valley</div>
                                    <button class="button button--secondary">Read our story</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="ui-hero__slide__image active" data-interchange="[https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_IMG_7278-1024x682.jpg, small], [https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_IMG_7278-1440x960.jpg, xlarge], [https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_IMG_7278-2000x1333.jpg, xxlarge]" style="background-image: url(&quot;https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_IMG_7278-1024x682.jpg&quot;);"></div>
                     </div>
                  </div>
                  <div class="owl-item active" style="width: 828px; margin-right: 0px;">
                     <div class="ui-hero__slide">
                        <a href="http://www.floretflowers.com/shop/">
                           <div class="row">
                              <div class="column">
                                 <div class="ui-hero__slide__content active">
                                    <div class="pre-preheader">Floret Flower Farm</div>
                                    <div class="preheader">Floret's Favorites</div>
                                    <h2 class="h1 keyline-single--short--after">Specialty Seeds</h2>
                                    <div class="subhead">We offer a curated collection of specialty flower seeds</div>
                                    <button class="button button--secondary">Visit our shop</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="ui-hero__slide__image active" data-interchange="[https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_0805-1024x682.jpg, small], [https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_0805-1440x960.jpg, xlarge], [https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_0805-2000x1333.jpg, xxlarge]" style="background-image: url(&quot;https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_0805-1024x682.jpg&quot;);"></div>
                     </div>
                  </div>
                  <div class="owl-item" style="width: 828px; margin-right: 0px;">
                     <div class="ui-hero__slide">
                        <a href="http://www.floretflowers.com/resources/">
                           <div class="row">
                              <div class="column">
                                 <div class="ui-hero__slide__content">
                                    <div class="pre-preheader">Floret Flower Farm</div>
                                    <div class="preheader">Helpful How-to's</div>
                                    <h2 class="h1 keyline-single--short--after">Resources</h2>
                                    <div class="subhead">Learn to grow the garden of your dreams</div>
                                    <button class="button button--secondary">Visit our Resources</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="ui-hero__slide__image active" data-interchange="[https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_Floret_Dahlias-1024x682.jpg, small], [https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_Floret_Dahlias-1440x960.jpg, xlarge], [https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_Floret_Dahlias-2000x1333.jpg, xxlarge]" style="background-image: url(&quot;https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_Floret_Dahlias-1024x682.jpg&quot;);"></div>
                     </div>
                  </div>
                  <div class="owl-item" style="width: 828px; margin-right: 0px;">
                     <div class="ui-hero__slide">
                        <a href="http://www.floretflowers.com/workshop-archive/">
                           <div class="row">
                              <div class="column">
                                 <div class="ui-hero__slide__content">
                                    <div class="pre-preheader">Floret Flower Farm</div>
                                    <div class="preheader">On Farm Learning</div>
                                    <h2 class="h1 keyline-single--short--after">Workshops</h2>
                                    <div class="subhead">Flower lovers from around the world attend our workshops</div>
                                    <button class="button button--secondary">Browse our workshops</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="ui-hero__slide__image active" data-interchange="[https://www.floretflowers.com/wp-content/uploads/2016/09/Floret-Workshop-66.jpg, small], [https://www.floretflowers.com/wp-content/uploads/2016/09/Floret-Workshop-66.jpg, xlarge], [https://www.floretflowers.com/wp-content/uploads/2016/09/Floret-Workshop-66.jpg, xxlarge]" style="background-image: url(&quot;https://www.floretflowers.com/wp-content/uploads/2016/09/Floret-Workshop-66.jpg&quot;);"></div>
                     </div>
                  </div>
                  <div class="owl-item" style="width: 828px; margin-right: 0px;">
                     <div class="ui-hero__slide">
                        <a href="/blog/">
                           <div class="row">
                              <div class="column">
                                 <div class="ui-hero__slide__content">
                                    <div class="pre-preheader">Floret Flower Farm</div>
                                    <div class="preheader">Flower Farm Journal</div>
                                    <h2 class="h1 keyline-single--short--after">Farm Adventures</h2>
                                    <div class="subhead">Go behind the scenes on a working flower farm</div>
                                    <button class="button button--secondary">Read the Blog</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="ui-hero__slide__image active" data-interchange="[https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_6250-1024x682.jpg, small], [https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_6250-1440x960.jpg, xlarge], [https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_6250-2000x1333.jpg, xxlarge]" style="background-image: url(&quot;https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_6250-1024x682.jpg&quot;);"></div>
                     </div>
                  </div>
                  <div class="owl-item cloned" style="width: 828px; margin-right: 0px;">
                     <div class="ui-hero__slide">
                        <a href="/about-us/our-story/">
                           <div class="row">
                              <div class="column">
                                 <div class="ui-hero__slide__content">
                                    <div class="pre-preheader">Floret Flower Farm</div>
                                    <div class="preheader">Est.2008</div>
                                    <h2 class="h1 keyline-single--short--after">Cultivating Beauty</h2>
                                    <div class="subhead">We are a small family farm in Washington's Skagit Valley</div>
                                    <button class="button button--secondary">Read our story</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="ui-hero__slide__image active" data-interchange="[https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_IMG_7278-1024x682.jpg, small], [https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_IMG_7278-1440x960.jpg, xlarge], [https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_IMG_7278-2000x1333.jpg, xxlarge]" style="background-image: url(&quot;https://www.floretflowers.com/wp-content/uploads/2016/10/Floret_IMG_7278-1440x960.jpg&quot;);"></div>
                     </div>
                  </div>
                  <div class="owl-item cloned" style="width: 828px; margin-right: 0px;">
                     <div class="ui-hero__slide">
                        <a href="http://www.floretflowers.com/shop/">
                           <div class="row">
                              <div class="column">
                                 <div class="ui-hero__slide__content">
                                    <div class="pre-preheader">Floret Flower Farm</div>
                                    <div class="preheader">Floret's Favorites</div>
                                    <h2 class="h1 keyline-single--short--after">Specialty Seeds</h2>
                                    <div class="subhead">We offer a curated collection of specialty flower seeds</div>
                                    <button class="button button--secondary">Visit our shop</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="ui-hero__slide__image active" data-interchange="[https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_0805-1024x682.jpg, small], [https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_0805-1440x960.jpg, xlarge], [https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_0805-2000x1333.jpg, xxlarge]" style="background-image: url(&quot;https://www.floretflowers.com/wp-content/uploads/2014/05/Floret_IMG_0805-1440x960.jpg&quot;);"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="owl-controls">
               <div class="owl-nav">
                  <div class="owl-prev" style="display: block;">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.1 20.74">
                        <title>Previous</title>
                        <polygon class="cls-1" points="117.1 9.73 3.2 9.74 17.17 1.1 17.17 0 0 10.38 17.16 20.74 17.16 19.64 3.19 11 117.09 11.01 117.1 9.73"></polygon>
                     </svg>
                  </div>
                  <div class="owl-next" style="display: block;">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.1 20.74">
                        <title>Next</title>
                        <polygon class="cls-1" points="0 9.73 113.9 9.74 99.93 1.1 99.93 0 117.1 10.38 99.94 20.74 99.94 19.64 113.91 11 0.01 11.01 0 9.73"></polygon>
                     </svg>
                  </div>
               </div>
               <div class="owl-dots" style="display: none;"></div>
            </div>
         </div>
      </div>
   </div>
</section>