<header class="header-container">
    <div class="header-top">
      <div class="container">
         <div class="row">
            <div class="col-sm-8 col-xs-12">
               <div class="welcome-msg hidden-xs">Chào mừng bạn tới <a>Thế giới xe mitsubishi</a> | Hotline : <a>0905136174</a></div>
               <div class="account-msg visible-xs">
                  <a class="msg">Tài khoản <i class="fa fa-angle-down"></i></a>
                  <ul class="account-msg-hidden">
                     <li><a title="Register" href="/account/register"><span><i class="fa fa-key"></i>Đăng ký</span></a></li>
                     <li><a title="Login" href="/account/login"><span><i class="fa fa-lock"></i>Đăng nhập</span></a></li>
                  </ul>
               </div>
            </div>
            <div class="col-sm-4 col-xs-12">
               <div class="toplinks">
                  <div class="links hidden-xs">
                    <% if user_signed_in? %>
                        <div class="myaccount"><a title=" Tài khoản của tôi " href="/account"><span class="hidden-xs"> Tài khoản của tôi </span></a></div>
                      <div class="wishlist">
                        <%= link_to "Thoát", destroy_user_session_path, method: :delete, id: "customer_logout_link" %>
                      </div>
                    <% else %>
                        <div class="register"><a title="Register" href="/account/register"><span  class="hidden-xs">Đăng ký</span></a></div>
                      <div class="login">
                        <%= link_to new_user_session_path, title: "Login", id: "customer_logout_link" do %>
                            <span class="hidden-xs">Đăng nhập</span>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="links visible-xs">
                     <div><a title="search" href="/search"><span class="fa fa-search"></span></a></div>
                     <div class="bag_shop" onclick="window.location.href='/cart'"><a title="cart" href="/cart"><span class="cart-total">0</span></a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="header container">
      <div class="row">
         <div class="col-lg-4 col-sm-4 col-md-4 cl_logo">
            <%= link_to root_path do%>
               <img alt="Thế giới Mitsubishi, xe mitsubishi, đại lý mitsubishi, mitsubishi attrage, mitsubishi pajero sport, mitsubishi outlander, mitsubishi pajero sport, mitsubishi triton, mitsubishi mirage" src="//bizweb.dktcdn.net/100/176/403/themes/231146/assets/logo.png?1494382782936" />
               <p class="sl-txt">mitsubishi motor</p>
            <% end %>
         </div>
         <div class="col-lg-5 col-sm-5 col-md-5">
            <div class="search-box">
               <form action="/search" method="get" id="search_mini_form">
                  <input type="text" placeholder="Nhập thông tin tìm kiếm" value="" maxlength="70" class="" name="query" id="search">
                  <button type="submit" id="submit-button" class="search-btn-bg"><span></span></button>
               </form>
            </div>
         </div>
         <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="top-cart-contain">
               <div class="mini-cart" id="open_shopping_cart">
                  <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
                     <a href="/cart">
                        <i class="icon_bag"><span class="count_item_pr cart-total">0</span></i>
                        <div class="cart-box"><span class="title">Giỏ hàng</span><span class="count_pr">(<span class="cart-total">0</span>)&nbsp;sản phẩm</span></div>
                     </a>
                  </div>
                  <div>
                     <div class="top-cart-content arrow_box">
                        <ul id="cart-sidebar" class="mini-products-list shopping_cart">
                        </ul>
                     </div>
                  </div>
               </div>
               <div id="ajaxconfig_info"> <a href="#/"></a>
                  <input value="" type="hidden">
                  <input id="enable_module" value="1" type="hidden">
                  <input class="effect_to_cart" value="1" type="hidden">
                  <input class="title_shopping_cart" value="Giỏ hàng" type="hidden">
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
 <nav>
   <div class="container">
      <div class="nav-inner">
         <div class="logo-small hidden-sm hidden-md">
            <%= link_to root_path do%>
               <img alt="Thế giới Mitsubishi, xe mitsubishi, đại lý mitsubishi, mitsubishi attrage, mitsubishi pajero sport, mitsubishi outlander, mitsubishi pajero sport, mitsubishi triton, mitsubishi mirage" src="//bizweb.dktcdn.net/100/176/403/themes/231146/assets/logo.png?1494382782936" />
            <% end %>
         </div>
         <div class="hidden-desktop" id="mobile-menu">
            <ul class="navmenu">
               <li>
                  <div class="menutop toggle">
                     <div class="toggle toggle_icon"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
                     <h2>Danh mục</h2>
                  </div>
                  <ul class="submenu">
                     <li>
                        <ul class="topnav">
                           <li class="level0 nacvv-8 level-top parent  active "> <a class="level-top" href="/"> <span>Trang chủ</span> </a></li>
                           <li class="level0 nacvv-8 level-top parent "> <a class="level-top" href="/gioi-thieu"> <span>Giới thiệu</span> </a></li>
                           <li class="level0 nav-8 level-top parent ">
                              <a class="level-top" href="/collections/all"> <span>Sản phẩm</span> </a>
                              <ul class="level0">
                                 <li class="level1 nav-2-1 first parent "> <a href="/xe-mitsubishi-moi"> <span>SẢN PHẨM MỚI</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/xe-o-to-mitsubishi-khuyen-mai"> <span>SẢN PHẨM KHUYẾN MẠI</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/san-pham-xe-mitsubishi-ban-chay"> <span>SẢN PHẨM BÁN CHẠY</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/attrage"> <span>ATTRAGE</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/mirage"> <span>MIRAGE</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/outlander"> <span>OUTLANDER</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/outlander-sport"> <span>OUTLANDER SPORT</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/pajero"> <span>PAJERO</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/pajero-sport"> <span>PAJERO SPORT</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/all-new-pajero-sport"> <span>ALL NEW PAJERO SPORT</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/triton"> <span>TRITON</span> </a></li>
                              </ul>
                           </li>
                           <li class="level0 nav-8 level-top parent ">
                              <a class="level-top" href="/mua-xe"> <span>Mua xe</span> </a>
                              <ul class="level0">
                                 <li class="level1 nav-2-1 first parent "> <a href="/chuong-trinh-khuyen-mai-xe-mitsubishi"> <span>Chương trình khuyến mại xe</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/bang-gia"> <span>Bảng giá</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/tim-dai-ly"> <span>Tìm đại lý</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/dang-ky-lai-thu"> <span>Đăng kí lái thử</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/yeu-cau-bao-gia"> <span>Yêu cầu báo giá</span> </a></li>
                              </ul>
                           </li>
                           <li class="level0 nav-8 level-top parent ">
                              <a class="level-top" href="/dich-vu"> <span>Dịch vụ</span> </a>
                              <ul class="level0">
                                 <li class="level1 nav-2-1 first parent "> <a href="/gioi-thieu-dich-vu"> <span>Giới thiệu dịch vụ</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/dai-ly-dich-vu"> <span>Đại lý dịch vụ</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/chinh-sach-bao-hanh"> <span>Chính sách bảo hành</span> </a></li>
                                 <li class="level1 nav-2-1 first parent "> <a href="/khao-sat-khach-hang"> <span>Khảo sát khách hàng</span> </a></li>
                              </ul>
                           </li>
                           <li class="level0 nav-8 level-top parent ">
                              <a class="level-top" href="/tin-tuc"> <span>Tin tức</span> </a>
                              <ul class="level0">
                                 <li class="level1 nav-2-1 first parent "> <a href="/chuong-trinh-khuyen-mai-xe-mitsubishi"> <span>Tin khuyến mại</span> </a></li>
                              </ul>
                           </li>
                           <li class="level0 nacvv-8 level-top parent "> <a class="level-top" href="/lien-he"> <span>Liên hệ</span> </a></li>
                        </ul>
                     </li>
                  </ul>
               </li>
            </ul>
            <!--navmenu-->
         </div>
         <ul id="nav" class="hidden-xs">
            <li class="level0 parent drop-menu  active "><a href="/"><span>Trang chủ</span></a></li>
            <li class="level0 parent drop-menu "><a href="/gioi-thieu"><span>Giới thiệu</span></a></li>
            <li class="level0 parent drop-menu ">
               <a href="/collections/all"><span>Sản phẩm <i style="float: right;margin: 1px 5px;" class="fa fa-sort-desc"></i></span></a>
               <ul class="level1">
                  <i class="fa fa-sort-asc icon_arr"></i>
                  <li class="level1 first parent "><a href="/xe-mitsubishi-moi"><span>SẢN PHẨM MỚI</span></a></li>
                  <li class="level1 first parent "><a href="/xe-o-to-mitsubishi-khuyen-mai"><span>SẢN PHẨM KHUYẾN MẠI</span></a></li>
                  <li class="level1 first parent "><a href="/san-pham-xe-mitsubishi-ban-chay"><span>SẢN PHẨM BÁN CHẠY</span></a></li>
                  <li class="level1 first parent "><a href="/attrage"><span>ATTRAGE</span></a></li>
                  <li class="level1 first parent "><a href="/mirage"><span>MIRAGE</span></a></li>
                  <li class="level1 first parent "><a href="/outlander"><span>OUTLANDER</span></a></li>
                  <li class="level1 first parent "><a href="/outlander-sport"><span>OUTLANDER SPORT</span></a></li>
                  <li class="level1 first parent "><a href="/pajero"><span>PAJERO</span></a></li>
                  <li class="level1 first parent "><a href="/pajero-sport"><span>PAJERO SPORT</span></a></li>
                  <li class="level1 first parent "><a href="/all-new-pajero-sport"><span>ALL NEW PAJERO SPORT</span></a></li>
                  <li class="level1 first parent "><a href="/triton"><span>TRITON</span></a></li>
               </ul>
            </li>
            <li class="level0 parent drop-menu ">
               <a href="/mua-xe"><span>Mua xe <i style="float: right;margin: 1px 5px;" class="fa fa-sort-desc"></i></span></a>
               <ul class="level1">
                  <i class="fa fa-sort-asc icon_arr"></i>
                  <li class="level1 first parent "><a href="/chuong-trinh-khuyen-mai-xe-mitsubishi"><span>Chương trình khuyến mại xe</span></a></li>
                  <li class="level1 first parent "><a href="/bang-gia"><span>Bảng giá</span></a></li>
                  <li class="level1 first parent "><a href="/tim-dai-ly"><span>Tìm đại lý</span></a></li>
                  <li class="level1 first parent "><a href="/dang-ky-lai-thu"><span>Đăng kí lái thử</span></a></li>
                  <li class="level1 first parent "><a href="/yeu-cau-bao-gia"><span>Yêu cầu báo giá</span></a></li>
               </ul>
            </li>
            <li class="level0 parent drop-menu ">
               <a href="/dich-vu"><span>Dịch vụ <i style="float: right;margin: 1px 5px;" class="fa fa-sort-desc"></i></span></a>
               <ul class="level1">
                  <i class="fa fa-sort-asc icon_arr"></i>
                  <li class="level1 first parent "><a href="/gioi-thieu-dich-vu"><span>Giới thiệu dịch vụ</span></a></li>
                  <li class="level1 first parent "><a href="/dai-ly-dich-vu"><span>Đại lý dịch vụ</span></a></li>
                  <li class="level1 first parent "><a href="/chinh-sach-bao-hanh"><span>Chính sách bảo hành</span></a></li>
                  <li class="level1 first parent "><a href="/khao-sat-khach-hang"><span>Khảo sát khách hàng</span></a></li>
               </ul>
            </li>
            <li class="level0 parent drop-menu ">
               <a href="/tin-tuc"><span>Tin tức <i style="float: right;margin: 1px 5px;" class="fa fa-sort-desc"></i></span></a>
               <ul class="level1">
                  <i class="fa fa-sort-asc icon_arr"></i>
                  <li class="level1 first parent "><a href="/chuong-trinh-khuyen-mai-xe-mitsubishi"><span>Tin khuyến mại</span></a></li>
               </ul>
            </li>
            <li class="level0 parent drop-menu "><a href="/lien-he"><span>Liên hệ</span></a></li>
         </ul>
      </div>
   </div>
</nav>
