<div class="wrapper-header">
  <div class="l-topbar pinned">
    <div class="row">
      <div class="column--full">
        <a class="l-topbar__meta" href="https://www.floretflowers.com/newsletter/">Newsletter</a>
          <ul class="ui-social-follow">
            <li class="ui-social-follow__facebook">
              <a href="https://www.facebook.com/floretflowers/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.77 11.96">
                  <title>Follow us on Facebook</title>
                  <path class="cls-1" d="M0,4H1.24V2.75A3.19,3.19,0,0,1,1.63.9,2.2,2.2,0,0,1,3.55,0,7.74,7.74,0,0,1,5.77.22L5.46,2.0a64.14,4.14,0,0,0-1-.15,0.75,0.75,0,0,0-.91.65V4h2L5.38,5.74H3.55V12H1.24V5.74H0V4Z"></path>
                </svg>
               <span>Facebook</span>
              </a>
            </li>
               <li class="ui-social-follow__twitter">
                  <a href="https://twitter.com/FloretFlwrFarm" target="_blank">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.97 9.73">
                        <title>Follow us on Twitter</title>
                        <path class="cls-1" d="M12,1.15a5,5,0,0,1-1.41.39A2.46,2.46,0,0,0,11.64.18a4.87,4.87,0,0,1-1.56.6A2.46,2.46,0,0,0,5.83,2.46,2.52,2.52,0,0,0,5.9,3,7,7,0,0,1,.83.45a2.46,2.46,0,0,0,.76,3.28A2.46,2.46,0,0,1,.48,3.42v0a2.46,2.46,0,0,0,2,2.41,2.53,2.53,0,0,1-1.11,0A2.46,2.46,0,0,0,3.64,7.61,4.92,4.92,0,0,1,.59,8.66a5,5,0,0,1-.59,0,7,7,0,0,0,3.77,1.1,6.94,6.94,0,0,0,7-7c0-.11,0-0.21,0-0.32A5,5,0,0,0,12,1.15"></path>
                     </svg>
                     <span>Twitter</span>
                  </a>
               </li>
               <li class="ui-social-follow__instagram">
                  <a href="https://www.instagram.com/floretflower/" target="_blank">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.95 11.95">
                        <title>Follow us on Instagram</title>
                        <path class="cls-1" d="M9.64,0H2.31A2.31,2.31,0,0,0,0,2.31V9.64A2.31,2.31,0,0,0,2.31,12H9.64A2.31,2.31,0,0,0,12,9.64V2.31A2.31,2.31,0,0,0,9.64,0ZM10.3,1.38h0.27v2h-2v-2H10.3Zm-6,3.37A2.1,2.1,0,1,1,3.87,6,2.1,2.1,0,0,1,4.27,4.75Zm6.52,4.89a1.15,1.15,0,0,1-1.15,1.14H2.31A1.14,1.14,0,0,1,1.17,9.64V4.75H2.95A3.27,3.27,0,1,0,9,4.75h1.79V9.64Z"></path>
                     </svg>
                     <span>Instagram</span>
                  </a>
               </li>
               <li class="ui-social-follow__pinterest">
                  <a href="http://www.pinterest.com/floretflwrfarm/" target="_blank">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.95 11.95">
                        <title>Follow us on Pinterest</title>
                        <path class="cls-1" d="M6,0a6,6,0,0,0-2.4,11.45,5.23,5.23,0,0,1,.1-1.37L4.45,6.82a2.29,2.29,0,0,1-.19-0.94A1.37,1.37,0,0,1,5.41,4.33a0.8,0.8,0,0,1,.81.9,12.84,12.84,0,0,1-.53,2.12A0.92,0.92,0,0,0,6.63,8.5c1.13,0,1.9-1.45,1.9-3.18A2.24,2.24,0,0,0,6,3,2.83,2.83,0,0,0,3.1,5.89a1.73,1.73,0,0,0,.39,1.17,0.29,0.29,0,0,1,.09.33l-0.12.48a0.2,0.2,0,0,1-.3.15A2.3,2.3,0,0,1,1.93,5.74,4,4,0,0,1,6.21,2,3.57,3.57,0,0,1,10,5.43c0,2.35-1.3,4.1-3.23,4.1A1.71,1.71,0,0,1,5.3,8.79S5,10.16,4.88,10.43a4.9,4.9,0,0,1-.6,1.28A6,6,0,1,0,6,0"></path>
                     </svg>
                     <span>Pinterest</span>
                  </a>
               </li>
            </ul>
            <ul class="l-topbar__account">
               <li><a href="https://www.floretflowers.com/account/">Account</a></li>
               <li><a href="https://www.floretflowers.com/cart/">Shopping Cart</a></li>
            </ul>
         </div>
      </div>
   </div>
   <header class="l-header pinned">
      <div class="l-header__logo-wrapper">
         <div class="row">
            <div class="column--full">
               <h1 class="l-header__logo">
                  <a href="https://www.floretflowers.com">
                  <img src="http://www.carlogos.org/logo/Mitsubishi-emblem-1024x768.png" alt="Mitshubishi Logo">
                  </a>
               </h1>
            </div>
         </div>
      </div>
      <nav class="l-header__nav">
         <a class="l-header__nav__menu-trigger" href="#"><span>Main Menu</span><span></span></a>
         <div class="l-header__nav__menu">
            <div class="l-header__nav__menu__wrapper">
               <ul id="menu-main-navigation" class="">
                  <li class="menu-item-has-children">
                     <a href="https://www.floretflowers.com/shop/">Shop</a>
                     <div class="sub-menu-wrap">
                        <div class="row">
                           <ul class="sub-menu">
                              <li class="menu-item-has-children">
                                 <a href="/product-category/seeds/">Seeds</a>
                                 <div class="sub-menu-wrap">
                                    <div class="row">
                                       <ul class="sub-menu">
                                          <li class=""><a href="/product-category/seeds/seeds-a-z/">Seeds A-Z</a>
                                          </li>
                                          <li class=""><a href="/product-category/seeds/flowers/">Flowers</a>
                                          </li>
                                          <li class=""><a href="/product-category/seeds/foliage/">Foliage</a>
                                          </li>
                                          <li class=""><a href="/product-category/seeds/fillers/">Fillers</a>
                                          </li>
                                          <li class=""><a href="/product-category/seeds/vines/">Vines</a>
                                          </li>
                                          <li class=""><a href="/product-category/seeds/cosmos/">Cosmos</a>
                                          </li>
                                          <li class=""><a href="/product-category/seeds/sweet-peas/">Sweet Peas</a>
                                          </li>
                                          <li class=""><a href="/product-category/seeds/zinnias/">Zinnias</a>
                                          </li>
                                          <li class=""><a href="/product-category/gifts-and-paper-goods/seed-collections/">Seed Collections</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item-has-children">
                                 <a href="/product-category/bulbs/">Bulbs</a>
                                 <div class="sub-menu-wrap">
                                    <div class="row">
                                       <ul class="sub-menu">
                                          <li class=""><a href="/product-category/bulbs/anemones/">Anemones</a>
                                          </li>
                                          <li class=""><a href="/product-category/bulbs/narcissus/">Narcissus</a></li>
                                          <li class=""><a href="/product-category/bulbs/ranunculus/">Ranunculus</a></li>
                                          <li class=""><a href="/product-category/bulbs/tulips/">Tulips</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item-has-children">
                                 <a href="/product-category/dahlias/">Dahlias</a>
                                 <div class="sub-menu-wrap">
                                    <div class="row">
                                       <ul class="sub-menu">
                                          <li class=""><a href="/product-category/dahlias/dahlias-a-z/">Dahlias A-Z</a>
                                          </li>
                                          <li class=""><a href="/product-category/dahlias/ball/">Ball</a></li>
                                          <li class=""><a href="/product-category/dahlias/button/">Button</a></li>
                                          <li class=""><a href="/product-category/dahlias/dinnerplate/">Dinnerplate</a></li>
                                          <li class=""><a href="/product-category/dahlias/decorative/">Decorative</a></li>
                                          <li class=""><a href="/product-category/dahlias/novelty/">Novelty</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item-has-children">
                                 <a href="/product-category/gifts-and-paper-goods/">Gifts &amp; Paper Goods</a>
                                 <div class="sub-menu-wrap">
                                    <div class="row">
                                       <ul class="sub-menu">
                                          <li class=""><a href="/product-category/gifts-and-paper-goods/paper-goods/">Paper Goods</a>
                                          </li>
                                          <li class=""><a href="/product-category/gifts-and-paper-goods/tools-supplies/">Tools &amp; Supplies</a></li>
                                          <li class=""><a href="/product-category/gifts-and-paper-goods/prints/">Prints</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </li>
                  <li class="menu-item-has-children">
                     <a href="https://www.floretflowers.com/about-us/">About</a>
                     <div class="sub-menu-wrap">
                        <div class="row">
                           <ul class="sub-menu">
                              <li class=""><a href="https://www.floretflowers.com/about-us/our-story/">Our Story</a>
                              </li>
                              <li class=""><a href="https://www.floretflowers.com/about-us/meet-the-family/">Meet The Family</a></li>
                              <li class=""><a href="https://www.floretflowers.com/about-us/our-philosophy/">Our Philosophy</a></li>
                              <li class=""><a href="https://www.floretflowers.com/about-us/press/">Press</a></li>
                              <li class=""><a href="https://www.floretflowers.com/about-us/awards/">Awards &amp; Recognition</a></li>
                           </ul>
                           <div class="sub-menu__image"><a href="https://www.floretflowers.com/about-us/our-story/"><img width="640" height="480" src="https://www.floretflowers.com/wp-content/uploads/2014/05/benzakeinfamily-640x480.jpg" class="attachment-4x3-medium size-4x3-medium" alt="benzakeinfamily" srcset="https://www.floretflowers.com/wp-content/uploads/2014/05/benzakeinfamily-640x480.jpg 640w, https://www.floretflowers.com/wp-content/uploads/2014/05/benzakeinfamily-300x225.jpg 300w, https://www.floretflowers.com/wp-content/uploads/2014/05/benzakeinfamily-1024x768.jpg 1024w, https://www.floretflowers.com/wp-content/uploads/2014/05/benzakeinfamily-1440x1080.jpg 1440w" sizes="(max-width: 640px) 100vw, 640px"><span>Our Story</span></a></div>
                           <div class="sub-menu__image"><a href="https://www.floretflowers.com/about-us/meet-the-family/"><img width="640" height="480" src="https://www.floretflowers.com/wp-content/uploads/2014/05/2012Floret200f-640x480.jpg" class="attachment-4x3-medium size-4x3-medium" alt="2012Floret200f" srcset="https://www.floretflowers.com/wp-content/uploads/2014/05/2012Floret200f-640x480.jpg 640w, https://www.floretflowers.com/wp-content/uploads/2014/05/2012Floret200f-300x225.jpg 300w, https://www.floretflowers.com/wp-content/uploads/2014/05/2012Floret200f-1024x768.jpg 1024w, https://www.floretflowers.com/wp-content/uploads/2014/05/2012Floret200f-1440x1080.jpg 1440w" sizes="(max-width: 640px) 100vw, 640px"><span>Meet the Family</span></a></div>
                        </div>
                     </div>
                  </li>
                  <li class="menu-item-has-children">
                     <a href="/workshops/">Workshops</a>
                     <div class="sub-menu-wrap">
                        <div class="row">
                           <ul class="sub-menu">
                              <li class=""><a href="/workshop-archive/">Upcoming</a>
                              </li>
                              <li class=""><a href="https://www.floretflowers.com/workshops/praise/">Praise</a></li>
                           </ul>
                           <div class="sub-menu__image"><a href="http://www.floretflowers.com/workshop-archive/"><img width="640" height="480" src="https://www.floretflowers.com/wp-content/uploads/2016/07/IMG_9532-640x480.jpg" class="attachment-4x3-medium size-4x3-medium" alt="IMG_9532" srcset="https://www.floretflowers.com/wp-content/uploads/2016/07/IMG_9532-640x480.jpg 640w, https://www.floretflowers.com/wp-content/uploads/2016/07/IMG_9532-300x225.jpg 300w" sizes="(max-width: 640px) 100vw, 640px"><span>Upcoming Workshops</span></a></div>
                           <div class="sub-menu__image"><a href="https://www.floretflowers.com/workshops/praise/"><img width="640" height="480" src="https://www.floretflowers.com/wp-content/uploads/2015/10/IMG_53181-640x480.jpg" class="attachment-4x3-medium size-4x3-medium" alt="IMG_5318" srcset="https://www.floretflowers.com/wp-content/uploads/2015/10/IMG_53181-640x480.jpg 640w, https://www.floretflowers.com/wp-content/uploads/2015/10/IMG_53181-300x225.jpg 300w, https://www.floretflowers.com/wp-content/uploads/2015/10/IMG_53181-1024x768.jpg 1024w" sizes="(max-width: 640px) 100vw, 640px"><span>Praise</span></a></div>
                        </div>
                     </div>
                  </li>
                  <li class=""><a href="/resources">Resources</a></li>
                  <li class=""><a href="https://www.floretflowers.com/directory/">Find Flowers</a></li>
                  <li class=""><a href="https://www.floretflowers.com/blog/">Blog</a></li>
                  <li class=""><a href="/gallery/">Gallery</a></li>
                  <li class=""><a href="https://www.floretflowers.com/book/">Book</a></li>
                  <li class=""><a href="https://www.floretflowers.com/contact/">Contact</a></li>
                  <li class="cart"><a href="https://www.floretflowers.com/cart/">Cart (0)</a></li>
                  <li class="account"><a href="https://www.floretflowers.com/account/">Account</a></li>
               </ul>
            </div>
            <div class="l-header__nav__menu__meta">
               <a class="l-header__nav__menu__meta__back" href="#"><span>Back</span></a>
               <a class="l-header__nav__menu__meta__close" href="#"><span>Close Menu</span></a>
            </div>
         </div>
         <div class="row">
            <div class="column--full">
               <a class="l-header__search search-trigger" href="#">
                  <span class="l-header__search__label">Search Floret Flowers</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.5 27.67">
                     <circle class="cls-1" cx="9.68" cy="9.68" r="8.93"></circle>
                     <line class="cls-2" x1="14.66" y1="17.82" x2="23.97" y2="27.14"></line>
                  </svg>
                  <span class="l-header__search__close"></span>
               </a>
               <a href="https://www.floretflowers.com/cart/" class="l-header__cart">
                  <span class="l-header__cart__label">Shopping Cart</span>
                  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 416.21 367.84">
                     <title>icon-cart-2</title>
                     <path d="M546.74,58.08a4.84,4.84,0,1,0,0,9.68h54.15l52,245.48a4.86,4.86,0,0,0,5.14,6.2h242a4.84,4.84,0,1,0,.14-9.68H662l-10.28-48.4H919.42a4.84,4.84,0,0,0,4.69-3.78L958,112.38a4.84,4.84,0,0,0-3.66-5.78,4.77,4.77,0,0,0-1-.12H618.88l-9.38-44.62a4.84,4.84,0,0,0-4.69-3.78H546.74ZM621,116.16H730.66v62.92H634.31L621,116.16Zm119.34,0h87.12v62.92H740.34Zm96.8,0H947.25l-14.67,62.92H837.14V116.16Zm-200.86,72.6h94.38v62.92H649.59Zm104.06,0h87.12v62.92H740.34Zm96.8,0h93.17l-14.67,62.92h-78.5V188.76ZM711.3,348.48A38.72,38.72,0,1,0,750,387.2,38.79,38.79,0,0,0,711.3,348.48Zm135.52,0a38.72,38.72,0,1,0,38.72,38.72A38.79,38.79,0,0,0,846.82,348.48ZM711.3,358.16a29,29,0,1,1-29,29A29,29,0,0,1,711.3,358.16Zm135.52,0a29,29,0,1,1-29,29A29,29,0,0,1,846.82,358.16Z" transform="translate(-541.9 -58.08)"></path>
                  </svg>
               </a>
            </div>
         </div>
      </nav>
   </header>
   <div class="l-header-flash">
      <div class="l-header-flash__item">
         <a href="https://www.floretflowers.com/book/">Floret Book Now Available</a>
      </div>
      <div class="l-header-flash__item"><a href="https://www.floretflowers.com/product-category/seeds/">Order Floret Seeds &amp; Garden Supplies</a></div>
   </div>
</div>

