<section class="featured-pro bg_spc">
	<div class="slider-items-products container">
		<div class="new_title center">
			<h2>Bán chạy trong tuần</h2>
			<span></span>
		</div>
		<div id="featured-slider" class="product-flexslider hidden-buttons block_btn_cart">
			<div class="slider-items slider-width-col4 owl-carousel owl-theme" style="opacity: 1; display: block;"> 
				
				<div class="owl-wrapper-outer autoHeight" style="height: 410px;"><div class="owl-wrapper" style="width: 1936px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 242px;"><div class="item">
					









<div class="col-item">
	<div class="product-image-area"> 
		<a class="product-image" title="PAJERO SPORT ALL NEW 2017 máy xăng 2 cầu 4X4 AT" href="/pajero-sport-all-new-2017-4x4-at"> 
			<img src="//bizweb.dktcdn.net/thumb/large/100/176/403/products/pajero-sport-2016.png?v=1487582883670" class="img-responsive" alt="PAJERO SPORT ALL NEW 2017 máy xăng 2 cầu 4X4 AT"> 
		</a>
	</div>
	<div class="hidden_mobile  hidden-sm hidden-xs">
		<form action="/cart/add" method="post" class="variants" id="product-actions-5610129" enctype="multipart/form-data">
			
			
			<div class="hover_fly">
				<a class="exclusive ajax_add_to_cart_button btn-cart add_to_cart" href="#" title="Cho vào giỏ hàng">
					<div><i class="icon-shopping-cart"></i><span>Mua hàng</span></div>
				</a>
				<input type="hidden" name="variantId" value="8990079">
			</div>
			
			<a href="/pajero-sport-all-new-2017-4x4-at" class="over_bg"></a>
		</form>
	</div>
	<div class="info">
		<div class="info-inner">
			<div class="item-title"><h3><a title="PAJERO SPORT ALL NEW 2017 máy xăng 2 cầu 4X4 AT" href="/pajero-sport-all-new-2017-4x4-at">PAJERO SPORT ALL NEW 2017 máy xăng 2 cầu 4X4 AT</a></h3></div>
			<!--item-title-->
			<div class="item-content">
				
				<div class="price-box">
					<p class="special-price"> 
						<span class="price">1.488.000.000₫</span> 
					</p>
					<p class="old-price"> 
						<span class="price-sep">-</span> 
						<span class="price">1.550.000.000₫</span> 
					</p>
				</div>
				
			</div>
			<div class="button_mobile hidden-lg hidden-md">
				<form action="/cart/add" method="post" class="variants" id="product-actions-5610129" enctype="multipart/form-data">
					
					
					<div class="actions">
						<input type="hidden" name="variantId" value="8990079">
						<button class="button btn-cart btn-cart add_to_cart" title="Cho vào giỏ hàng" type="button"><span>Mua hàng</span></button>
					</div>
					
				</form>
			</div>
			<!--item-content--> 
		</div>
		<!--info-inner-->
		<div class="clearfix"> </div>
	</div>
</div>
				</div></div><div class="owl-item" style="width: 242px;"><div class="item">
					







<div class="col-item">
	<div class="product-image-area"> 
		<a class="product-image" title="OUTLANDER Bản đầy đủ 2.0 CVT" href="/mitsubishi-outlander-2-0-cvt"> 
			<img src="//bizweb.dktcdn.net/thumb/large/100/176/403/products/nav-outlander-17my.png?v=1487583819323" class="img-responsive" alt="OUTLANDER Bản đầy đủ 2.0 CVT"> 
		</a>
	</div>
	<div class="hidden_mobile  hidden-sm hidden-xs">
		<form action="/cart/add" method="post" class="variants" id="product-actions-5609889" enctype="multipart/form-data">
			
			
			<div class="hover_fly">
				<a class="exclusive ajax_add_to_cart_button btn-cart add_to_cart" href="#" title="Cho vào giỏ hàng">
					<div><i class="icon-shopping-cart"></i><span>Mua hàng</span></div>
				</a>
				<input type="hidden" name="variantId" value="8989786">
			</div>
			
			<a href="/mitsubishi-outlander-2-0-cvt" class="over_bg"></a>
		</form>
	</div>
	<div class="info">
		<div class="info-inner">
			<div class="item-title"><h3><a title="OUTLANDER Bản đầy đủ 2.0 CVT" href="/mitsubishi-outlander-2-0-cvt">OUTLANDER Bản đầy đủ 2.0 CVT</a></h3></div>
			<!--item-title-->
			<div class="item-content">
				
				<div class="price-box">
					<p class="special-price"> <span class="price">1.123.000.000₫ </span> </p>
				</div>
				
			</div>
			<div class="button_mobile hidden-lg hidden-md">
				<form action="/cart/add" method="post" class="variants" id="product-actions-5609889" enctype="multipart/form-data">
					
					
					<div class="actions">
						<input type="hidden" name="variantId" value="8989786">
						<button class="button btn-cart btn-cart add_to_cart" title="Cho vào giỏ hàng" type="button"><span>Mua hàng</span></button>
					</div>
					
				</form>
			</div>
			<!--item-content--> 
		</div>
		<!--info-inner-->
		<div class="clearfix"> </div>
	</div>
</div>
				</div></div><div class="owl-item" style="width: 242px;"><div class="item">
					









<div class="col-item">
	<div class="product-image-area"> 
		<a class="product-image" title="ATTRAGE Số tự động CVT" href="/mitsubishi-attrage-so-tu-dong-cvt"> 
			<img src="//bizweb.dktcdn.net/thumb/large/100/176/403/products/mitsubishi-attrage-01-457109f21393-600x600-dabf67bf-af23-41fb-b411-84c0498e36a2.png?v=1487584155333" class="img-responsive" alt="ATTRAGE Số tự động CVT"> 
		</a>
	</div>
	<div class="hidden_mobile  hidden-sm hidden-xs">
		<form action="/cart/add" method="post" class="variants" id="product-actions-5605627" enctype="multipart/form-data">
			
			
			<div class="hover_fly">
				<a class="exclusive ajax_add_to_cart_button btn-cart add_to_cart" href="#" title="Cho vào giỏ hàng">
					<div><i class="icon-shopping-cart"></i><span>Mua hàng</span></div>
				</a>
				<input type="hidden" name="variantId" value="8980642">
			</div>
			
			<a href="/mitsubishi-attrage-so-tu-dong-cvt" class="over_bg"></a>
		</form>
	</div>
	<div class="info">
		<div class="info-inner">
			<div class="item-title"><h3><a title="ATTRAGE Số tự động CVT" href="/mitsubishi-attrage-so-tu-dong-cvt">ATTRAGE Số tự động CVT</a></h3></div>
			<!--item-title-->
			<div class="item-content">
				
				<div class="price-box">
					<p class="special-price"> 
						<span class="price">516.000.000₫</span> 
					</p>
					<p class="old-price"> 
						<span class="price-sep">-</span> 
						<span class="price">543.000.000₫</span> 
					</p>
				</div>
				
			</div>
			<div class="button_mobile hidden-lg hidden-md">
				<form action="/cart/add" method="post" class="variants" id="product-actions-5605627" enctype="multipart/form-data">
					
					
					<div class="actions">
						<input type="hidden" name="variantId" value="8980642">
						<button class="button btn-cart btn-cart add_to_cart" title="Cho vào giỏ hàng" type="button"><span>Mua hàng</span></button>
					</div>
					
				</form>
			</div>
			<!--item-content--> 
		</div>
		<!--info-inner-->
		<div class="clearfix"> </div>
	</div>
</div>
				</div></div><div class="owl-item" style="width: 242px;"><div class="item">
					









<div class="col-item">
	<div class="product-image-area"> 
		<a class="product-image" title="Mitsubishi Triton 1 cầu số tự động 4X2 AT" href="/mitsubishi-triton-4x2-at"> 
			<img src="//bizweb.dktcdn.net/thumb/large/100/176/403/products/triton-4x2at-eaff2250-10ea-4788-b99a-ae19fb8ec284.png?v=1487582538880" class="img-responsive" alt="Mitsubishi Triton 1 cầu số tự động 4X2 AT"> 
		</a>
	</div>
	<div class="hidden_mobile  hidden-sm hidden-xs">
		<form action="/cart/add" method="post" class="variants" id="product-actions-5610289" enctype="multipart/form-data">
			
			
			<div class="hover_fly">
				<a class="exclusive ajax_add_to_cart_button btn-cart add_to_cart" href="#" title="Cho vào giỏ hàng">
					<div><i class="icon-shopping-cart"></i><span>Mua hàng</span></div>
				</a>
				<input type="hidden" name="variantId" value="8990290">
			</div>
			
			<a href="/mitsubishi-triton-4x2-at" class="over_bg"></a>
		</form>
	</div>
	<div class="info">
		<div class="info-inner">
			<div class="item-title"><h3><a title="Mitsubishi Triton 1 cầu số tự động 4X2 AT" href="/mitsubishi-triton-4x2-at">Mitsubishi Triton 1 cầu số tự động 4X2 AT</a></h3></div>
			<!--item-title-->
			<div class="item-content">
				
				<div class="price-box">
					<p class="special-price"> 
						<span class="price">610.000.000₫</span> 
					</p>
					<p class="old-price"> 
						<span class="price-sep">-</span> 
						<span class="price">630.000.000₫</span> 
					</p>
				</div>
				
			</div>
			<div class="button_mobile hidden-lg hidden-md">
				<form action="/cart/add" method="post" class="variants" id="product-actions-5610289" enctype="multipart/form-data">
					
					
					<div class="actions">
						<input type="hidden" name="variantId" value="8990290">
						<button class="button btn-cart btn-cart add_to_cart" title="Cho vào giỏ hàng" type="button"><span>Mua hàng</span></button>
					</div>
					
				</form>
			</div>
			<!--item-content--> 
		</div>
		<!--info-inner-->
		<div class="clearfix"> </div>
	</div>
</div>
				</div></div></div></div>
				
				
				
				
				
				
				
			<div class="owl-controls clickable" style="display: block;"><div class="owl-buttons"><div class="owl-prev"><a class="flex-prev"></a></div><div class="owl-next"><a class="flex-next"></a></div></div></div></div>
		</div>
	</div>
</section>